#-------------------------------------------------
# Maven & Build
#-------------------------------------------------
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

#-------------------------------------------------
# IDEs
#-------------------------------------------------

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#-------------------------------------------------
# Java / General
#-------------------------------------------------
*.class       # Compiled class files
*.log         # Log files
*.ctxt        # BlueJ files
.mtj.tmp/     # Mobile Tools for Java (J2ME) temp

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
